.menu-cell {
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    .menu-header-left {
      display: flex;
      align-items: center;
      // BaseIcon 样式
      .base-icon {
        width: 42px;
        height: 42px;
        margin-right: 10px;
        i {
          font-size: 26px;
        }
      }
    }
  }
  // antd-mobile Grid 样式
  .am-grid {
    .am-grid-item {
      height: 220px;
    }
  }
}